.textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #2c303b;
  margin: 10px 0;
  width: 100%;
  resize: vertical;
}

.textarea::placeholder {
  color: #b8bac7;
}
.textarea[type="text"]:focus {
  border: #6d96f7;
}

.description {
  font-size: 14px;
  margin-bottom: 30px;
  color: #848694;
}

.label {
  color: white;
  font-size: 14px;
}

.keywords {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.keyword {
  padding: 5px 10px;
  border-radius: 100px;
  background-color: #4b4f60;
  color: white;
  font-size: 14px;
}
