.main {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 15px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
  min-height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
  border-radius: 10px;
  background-color: #1e1f24;
  height: calc(100vh - 100px);
  overflow: scroll;
}

.left::-webkit-scrollbar {
  display: none;
}

.nav {
  background: #1d2134;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.nav h1 {
  font-size: 21px;
  color: white;
}

.nav h1 span {
  font-weight: normal;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background-color: #6d96f7;
  color: white;
}

.button:hover {
  background-color: #5f88e7;
  cursor: pointer;
}

.right {
  height: calc(100vh - 100px);
  overflow: scroll;
  border-radius: 10px;
  background-color: white;
}

.right::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1d2134;
  padding: 0 20px;
}

.content {
  font-size: 14px;
  line-height: 1.5;
  color: #4b4f60;
  padding: 0 20px;
}

.keywords {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.keyword {
  padding: 5px 10px;
  border-radius: 100px;
  background-color: #4b4f60;
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.textarea-label {
  color: rgb(var(--foreground-rgb));
}
