.main {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 15px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
  min-height: 100vh;
}

.left {
  border-radius: 10px;
  background-color: #1e1f24;
  height: calc(100vh - 100px);
  position: relative;
}

.nav {
  background: #1d2134;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLoading {
  background: #bfc1c4;
}

.nav h1 {
  font-size: 21px;
  color: white;
}

.nav h1 span {
  font-weight: normal;
}

.fieldsHolder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px 10px 0px 15px;
  overflow-y: scroll;
  padding-bottom: 47px;
}

.fieldsHolder::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.fieldsHolder::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.fieldsHolder::-webkit-scrollbar-thumb {
  background: #7d8a90;
}

.buttonHolder {
  padding: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background-color: #6d96f7;
  color: white;
  width: 100%;
}

.button:hover {
  background-color: #5f88e7;
  cursor: pointer;
}

.right {
  height: calc(100vh - 100px);
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.right::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1d2134;
  padding: 0 20px;
  text-align: center;
}

.contentHolder {
  overflow: scroll;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.content {
  font-size: 14px;
  line-height: 1.5;
  color: #4b4f60;
  padding: 0 20px;
}

/* width */
.contentHolder::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.contentHolder::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.contentHolder::-webkit-scrollbar-thumb {
  background: #eaeced;
}

.textarea-label {
  color: rgb(var(--foreground-rgb));
}

.outputTitle {
  font-weight: bold;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 5px;
  color: #1d2134;
}

.outputContent {
  margin-bottom: 10px;
}

.emptyHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty p {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-height: 650px) {
  .main {
    grid-gap: 5px;
    padding: unset;
  }
  .left,
  .right {
    height: 100vh;
  }
}
.outputArea {
  position: relative;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

.loader p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.poweredBy {
  display: flex;
  align-items: center;
}

.poweredBy p {
  font-size: 12px;
  color: white;
  margin-right: 5px;
}

.fade-in-word {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-duration: 350ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible-word {
  opacity: 1;
}

